.body {
    background: rgb(0, 0, 0);
    background-image: url('../images/background.png');
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    font-family: IRANSans !important;
    font-weight: 300;
}
